.conversation {
    background-color: #f1f8f6;
    padding-top: 10px;
    .idle {
        background-color: #fff;
    }
    .column {
        height: 100%;
    }
    .product-card {
        cursor: pointer;
        background-color: #fff;
        padding: 10px;
        margin: 5px 1.5px;
    }
    .product-card:hover {
        background-color: #f1f8f6;
    }
    .search-user {
        position: relative;
    }
    .user-list {
        margin-top: 10px;
        height: 90%;
        overflow: auto;
    }
    .user-info {
        width: 75%;
        margin-left: 15px;
    }
    .time-ago {
        display: block;
        margin-bottom: 10px;
        white-space: nowrap;
    }
    .message-content {
        background-color: #fff;
        height: 70%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .content-header {
        height: 10%;
        padding: 20px;
        border-bottom: 1px solid #eaeaea;
    }
    .sender-name {
        width: 80%;
        display: block;
    }
    .sender-option {
        width: 20%;
    }
    .content-body {
        height: 90%;
        overflow: auto;
        padding: 10px 20px;
        display: flex;
        flex-direction: column-reverse;
    }
    .sender-message {
        display: flex;
        margin: 5px 0;
    }
    .sender-message-content {
        margin: 0 10px;
        height: fit-content;
        padding: 10px 15px;
        background-color: #e7e6e9;
        border-radius: 10px;
        word-break: break-word;
        max-width: 60%;
        button {
            margin: 5px 0 0;
            padding: 5px 15px;
            font-size: 15px;
            width: 100%;
        }
    }
    .my-message {
        margin: 5px 0;
        padding: 10px 15px;
        border-radius: 10px;
        word-break: break-word;
        color: #fff;
        background-color: $light_green;
        label {
            display: block;
            text-align: left;
        }
        button {
            margin: 5px 0 0;
            padding: 5px 15px;
            font-size: 15px;
            width: 100%;
        }

    }
    .message-container {
        display: flex;
        background-color: #e5e7e9;
        height: 30%;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        textarea {
            resize: none;
        }
    }
    textarea {
        width: 100%;
    }
    button {
        margin-left: 10px;
        height: fit-content;
    }
}

.messaging-center{
    .message-area {
        z-index: auto;
        position: relative;
        line-height: normal;
        transition: none 0s ease 0s;
        border-radius: 18px;
        padding: 10px;
        height: 104px;
        font-family: sans-serif;
        color: #757474;
        font-size: 18px;
        border: 1px solid #d7f1d7;
        background: rgb(255, 255, 255) !important;
        margin: 0px;
        box-shadow: inset 0 2px 6px 0 #e2fbee;
    }
    .user {
        margin: 5px 0;
        padding: 20px 10px;
        border: 1px solid #00c587;
        border-radius: 5px;
        max-width: 70vw;
        background-color: #7ce8c6;
        clear: both;

        span {
            float: right;
            font-size: 12px;
        }
    }
    .admin {
        float: right;
        text-align: right;
        margin: 5px 0;
        padding: 20px 10px;
        border: 1px solid #ff7e00;
        border-radius: 5px;
        min-width: 30vw;
        max-width: 70vw;
        background-color: #ecc7a3;
        clear: both;

        span {
            float: left;
            font-size: 12px;
        }
    }
}

.admin-messaging-center{
    .message-area {
        z-index: auto;
        position: relative;
        line-height: normal;
        transition: none 0s ease 0s;
        border-radius: 18px;
        padding: 10px;
        height: 104px;
        font-family: sans-serif;
        color: #757474;
        font-size: 18px;
        border: 1px solid #d7f1d7;
        background: rgb(255, 255, 255) !important;
        margin: 0px;
        box-shadow: inset 0 2px 6px 0 #e2fbee;
    }
    .user {
        margin: 5px 0;
        padding: 20px 10px;
        border: 1px solid #00c587;
        border-radius: 5px;
        max-width: 50vw;
        background-color: #7ce8c6;
        clear: both;

        span {
            float: right;
            font-size: 12px;
        }
    }
    .admin {
        float: right;
        text-align: right;
        margin: 5px 0;
        padding: 20px 10px;
        border: 1px solid #ff7e00;
        border-radius: 5px;
        min-width: 30vw;
        max-width: 50vw;
        background-color: #ecc7a3;
        clear: both;

        span {
            float: left;
            font-size: 12px;
        }
    }
}