.product-header{
    letter-spacing: inherit;
    line-height: inherit;
    text-transform: inherit;
    font-family: 'Lato',helvetica,arial,clean,sans-serif;
    font-weight: 400;
    font-size: 35px;
}
.product-description{
    font-size: 16px;
    img{
        width: 100%;
    }
}
.product-width{
    width: -webkit-fill-available;
}

.product_p_c{
    font-size: 13px;
}

.click-here{
    color: #008000;
}

.metafield_data span {
    line-height: 1.6;
}